function Main.main 5
push constant 100
push constant 100
push constant 30
call Hero.new 3
pop local 1
push constant 0
push constant 100
push constant 30
call HeroStand.new 3
pop local 2
push constant 50
push constant 50
push constant 20
call TeeweeUp.new 3
pop local 3
push constant 0
push constant 0
push constant 20
call TeeweeDown.new 3
pop local 4
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 1
call Hero.moveDown 1
pop temp 0
push local 2
call HeroStand.moveRight 1
pop temp 0
push local 3
call TeeweeUp.moveDown 1
pop temp 0
push local 4
call TeeweeDown.moveRight 1
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
